_<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <div class="panel panel-default items">

    <h2>Your cart is empty, honey!</h2>
    <%= link_to 'Go back to homepage', :root %>
  </div>



</section>
