// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

li.login-logout {
display: inline-flex;
}

form#new_review {
  margin-left: 10%;
}

.field {
  margin: 5% 0;
}

.dl-vertical dd {
  width: 30%;
  border: 1px solid grey;
  margin: 2% 0;
  padding: 5px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
